[JIRA]
Token = jira-token
ProjectURL = jira-project-url
Username = jira-username
ProjectKey = jira-project-key

[GITLAB]
URL = https://gitlab.com
Token = your-gitlab-token

[SETTINGS]
VerifySSL = true